{% load staticfiles %}
<!doctype html>
<html class="no-js">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		{% block meta %}{% endblock %}

		<link href="{% static 'styles/font-awesome.min.css' %}" media="none" onload="if(media!='all')media='all'" rel="stylesheet" type="text/css" />
		<link href="{% static 'styles/bootstrap.min.css' %}" media='all' rel="stylesheet" type="text/css" />
		<link href="{% static 'styles/animate.min.css' %}" media="none" onload="if(media!='all')media='all'" rel="stylesheet" type="text/css" />
		<link href="{% static 'styles/style.css' %}" media='all' rel="stylesheet" type="text/css" />
		<link href="{% static 'styles/js_slider.css' %}" media="none" onload="if(media!='all')media='all'" rel="stylesheet" type="text/css" />
		<link href="{% static 'styles/preload.css' %}" media="all" rel="stylesheet" />

		<script src="{% static 'scripts/jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/ajax.min.js' %}" type="text/javascript"></script>
		<script defer src="{% static 'scripts/jquery.parallax.js' %}" type="text/javascript"></script>
		<script defer src="{% static 'scripts/js_slider.js' %}" type="text/javascript"></script>
		<script defer src="{% static 'scripts/bootstrap.min.js' %}" type="text/javascript"></script>
		<script defer src="{% static 'scripts/kostil.js' %}" type="text/javascript"></script>
		<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
		<meta name="google-site-verification" content="1_EXNAYzb1B_67jTZxsAEA1mVtOPcAqTUpA8DyUZ3jk" />
		<meta name="yandex-verification" content="7d8d2db961b13e2b" />

</head>
<body class="ltr sticky-header offcanvas-init offcanvs-position-left">
	<div class="jambotron-fluid">
	<div class="body-wrapper" id="ajax">

		<div class="page-loader">
			<div class="loader">Загрузка...</div>
		</div>
    	{% include "navbar.html" %}
			<section id="sp-main-body">
			    <div class="row">
			        <main id="sp-component" class="col-lg-12 " role="main">
			            <div class="sp-column ">
			                <div id="system-message-container">
			                </div>
			                <div id="sp-page-builder" class="sp-page-builder  page-98">
												<div class="page-content">
													{% block content %}
													{% endblock %}
												</div>
											</div>
			            </div>
			        </main>
			    </div>
			</section>

		  {% include "footer.html" %}

			{% include "mob_menu.html" %}

			{% include "base_scripts.html" %}
			<script defer src="{% static 'scripts/main.js' %}" type="text/javascript"></script>
</div>

	</div>
</body>
</html>
