{% load staticfiles %}
<style>

    @media screen and (max-width: 60.4em) {
      .marg-top{
        margin-top: 100px;
      }
    }
</style>
<section id="sp-bottom">
    <div class="container">
            <div class="row">
                <div class="col-lg-6 marg-top">
                    <div class="sp-column ">
                        <div class="sp-module ">

                            <h3 class="sp-module-title">Будем очень признательны за помощь
                            <br>(в описании платежа указывайте "Пожертвование центру Т.Шайхуллина")</h3>
                            <h3 class="sp-module-title">Сбербанк - 639002629017467753 (привязано к номеру 89272482733)
                            <br><br>
                            Расчетный счет реабилитационного центра Т.Шайхулина <br>
                            № 40703810400000000072 в АБ "Девон Кредит", г. Альметьевск
                            БИК 049246691<br>
                            Наш адрес: г. Альметьевск, Радищева 47<br>

                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 marg-top">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <h3 class="sp-module-title">Сайт принадлежит Альметьевскому городскому общественному движению «БЛАГОТВОРИТЕЛЬНЫЙ
                              РЕАБИЛИТАЦИОННЫЙ ЦЕНТР ИМ. ТАЛГАТА ШАЙХУЛЛИНА»
                            </h3>
                            <br>
                            <h3 class="sp-module-title">Руководитель <a href="https://vk.com/id214972788" target="_blank">Фахреев Владимир Анварович</a></h3>
                            <h3 class="sp-module-title">Тех. поддержка <a href="https://vk.com/nice_web" target="_blank">Зубарев Сергей Витальевич</a></h3>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
